<article class="overflow-hidden rounded-lg shadow-lg hover:bg-gray-300 transition duration-300 ease-in-out">
  <header class="flex flex-col sm:flex-row items-center justify-between leading-tight p-2 md:p-4">
    <h1 class="text-lg sm:text-xl">
      <a class="no-underline hover:underline text-black" >
        {{ title }}
      </a>
    </h1>
    <p class="text-sm sm:text-base text-grey-darker mt-2 sm:mt-0">
      {{ date }}
    </p>
  </header>
  <!-- <footer class="flex flex-col sm:flex-row items-center justify-between leading-none p-2 md:p-4">
    <a class="flex items-center no-underline hover:underline text-black mb-2 sm:mb-0">
      <p class="ml-2 text-sm sm:text-base">
        {{ author }}
      </p>
    </a> -->
    <!-- Like button remains unchanged -->
    <!-- <a class="no-underline text-grey-darker hover:text-red-dark inline-flex items-center">
      <span class="hidden">Like</span>
      <i class="fa fa-heart mr-2"></i>
    </a> -->
  <!-- </footer> -->
</article>