<div class="max-w-md mx-auto p-6 overflow-hidden rounded-lg shadow dark:bg-gray-50 dark:text-gray-800 h-[90vh] w-[90vw]">
  <!-- Centering Wrapper -->
  <div class="flex flex-col items-center justify-center h-full">
    <article class="w-full max-w-md">
      <h2 class="text-xl font-bold mb-4 dark:text-gray-800">
        {{articleData.title}}
      </h2>
      <p class="dark:text-gray-600">
        {{ articleData.content }}
      </p>
      <div class="mt-8 flex flex-col md:flex-row items-center justify-between w-full">
        <div>
          <h3 class="text-sm font-medium mb-2 dark:text-gray-300">
            {{ articleData.authorDetails.name }}
          </h3>
          <p class="text-sm dark:text-gray-400">
            {{ articleData.date | date:'medium' }}
          </p>
        </div>
      </div>
    </article>
  </div>
</div>